@import 'tailwindcss';
@import 'tw-animate-css';

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper {
    overflow: visible !important;
}
.swiper-wrapper {
    overflow: visible !important;
}